body {
    padding: 20px;
}
.form-control {
    margin-bottom: 15px;
}
.row {
    margin-bottom: 10px;
}
.col-3 {
    background-color: rgba(15, 14, 14, 0.836);
    padding: 20px;
    border-right: 1px solid #3e7942;
    color:white;
}
.col-9 {
    padding: 20px;
    background-color: rgba(15, 14, 14, 0.836);
}
.invalid-feedback {
    color: red;
}